* {
  margin: 0;
  font-family: 'Courier New', monospace;
}

html {
  overflow-x: hidden;
  /* overflow-y: hidden; */
}

.app {
  width: 100vw;
  height: 100vh;
  background-color: pink;
  display: flex;
  justify-content: center;
}

.header {
  min-height: 100px;
  width: 100%;
  background-color: white;
  display: flex;
  align-items: center;
  padding-left: 25px;
  position: fixed;
  justify-content: space-between;
}

.logo{
  color: black;
  text-decoration: none;
  font-weight: 5px;
}

ul {
  display: flex;
}

li {
  list-style: none;
}

a {
  color: black;
  text-decoration: none;
}

.menu {
  position: fixed;
  left: -100%;
  top: 70px;
  gap: 0;
  flex-direction: column;
  width: 100%;
  text-align: center;
  transition: 300ms;
}

.menu.active {
  left: 0;
  background-color: aqua;
}

.nav-item {
  margin: 16px;
}




.nav-link {
  transition: 700ms ease;
}


.nav-link:hover {
  color: aqua;
}

.hamburger {
  cursor: pointer;
  padding: 25px;
}

.hamburger.active .bar:nth-child(2) {
  opacity: 0;
}

.hamburger.active .bar:nth-child(1) {
  transform: translateY(8px) rotate(45deg);
}

.hamburger.active .bar:nth-child(3) {
  transform: translateY(-8px) rotate(-45deg);
}

.bar {
  display: block;
  height: 3px;
  width: 25px;
  margin: 5px auto;
  background-color: black;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.specialty-info {
  width: 100%;
  background-color: plum;
  margin-top: 100px;

}

.bridal-party-info {
  height:220px;
  background-image: url('https://ae01.alicdn.com/kf/HTB1r6mbOVXXXXc_XXXXq6xXFXXX0/Howmay-silk-chiffon-fabric-4-5m-m-114cm-100-pure-silk-unbleached-white-PFD-fabric-for.jpg');
  background-size: 100%;
  background-blend-mode: lighten;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;


}

.about-me {
  height:220px;
  background-color: pink;
  /* background-image: url('https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcSig9q5p0ptlG5vrF84qclCw_J0x07-c0qm3Q&usqp=CAU'); */
  background-size: 100%;
}

.slider {
  position: relative;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.image {
  width: 1000px;
  height: 600px;
  border-radius: 10px;
}

.right-arrow {
  position: absolute;
  top: 50%;
  right: 32px;
  font-size: 3rem ;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.left-arrow {
  position: absolute;
  top: 50%;
  left: 32px;
  font-size: 3rem ;
  color: #000;
  z-index: 10;
  cursor: pointer;
  user-select: none;
}

.services {
  height:220px;
  background-color: black;
}

.book-now-button {
  height:75px;
  width: 100%;
  background-color: #AEC6CF;
  align-self: flex-end;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
}

.bottom {
  height: 75px; 
  background-color: #AEC6CF;
}

/* Media query change to bigger screen */
/* .menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 60px;
} */